<div class="details" [ngClass]="{'empty': !product}">
  <ng-container *ngIf="product else empty">
    <button (click)="goBack()" *ngIf="innerWidth <= 800" class="back-button">Back</button>
    <div class="product">
      <div class="group">
        <p>Product:</p>
        <p>{{product.description}}</p>
      </div>
      <div class="group">
        <p>Barcode:</p>
        <p>{{product.barcode}}</p>
      </div>
      <div class="group">
        <p>Type:</p>
        <p>{{product.type}}</p>
      </div>
      <div class="group price">
        <p>Price:</p>
        <p>${{product.price}}</p>
      </div>
      <div class="quantity-control">
        <button (click)="substract()">-</button>
        <input type="number" step="no" [(ngModel)]="quantity">
        <button (click)="add()">+</button>
      </div>
      <button id="cart" (click)="addToCart()">add to cart</button>
    </div>
  </ng-container>
</div>

<ng-template #empty>
  <fa name="stethoscope" size="5x"></fa>
  <p>Select a Product!</p>
</ng-template>
