<div class="overlay">
  <div class="cart">
    <ng-container  *ngIf="!isCheckoutActive else checkoutView">
      <div class="header">
        <h1 class="title">Cart</h1>
        <button class="close-button" (click)="close()">
          <fa name="times" size="3x"></fa>
        </button>
      </div>
      <div class="cart-list">
        <ng-container *ngIf="cart.length > 0 else empty">
          <div *ngFor="let item of cart" class="item">
            <div class="info">
              <p>{{item.product.description}}</p>
              <p>Quantity: x{{item.quantity}}</p>
            </div>
            <p>${{item.product.price * item.quantity}}</p>
            <button class="close-button" (click)="remove(item.product.code)">
              <fa name="trash" size="3x"></fa>
            </button>
          </div>
        </ng-container>
      </div>
      <div class="bottom">
        <p>Total: ${{total}}</p>
        <button [disabled]="cart.length < 1" (click)="checkout()">Checkout</button>
      </div>
    </ng-container>
  </div>
</div>

<ng-template #empty>
  <div class="empty">
    <h1>Cart is empty</h1>
  </div>
</ng-template>

<ng-template #checkoutView>
  <div class="header">
    <h1 class="title">Checkout</h1>
    <button class="close-button" (click)="close()">
      <fa name="times" size="3x"></fa>
    </button>
  </div>
  <div class="cart-list">

  </div>
  <div class="bottom">
    <p>Total: ${{total}}</p>
    <button [disabled]="cart.length < 1" (click)="checkout()">Make order</button>
  </div>
</ng-template>
