.list {
  height: 100%;
  background-color: #fff;
  position: relative;
  transition: ease-out 0.5s;
  display: flex;
  flex-direction: column;
  background-color: #55565A;
  .header {
    padding: 0 20px;
    position: absolute;
    height: 80px;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    transition: top 0.2s ease-in-out;
    background-color: #55565A;
    img {
      width: 180px;
    }
    button {
      background-color: transparent;
      color: #ffffff;
      font-weight: 600;
      text-transform: uppercase;
      font-size: 16px;
      border: none;
    }
  }
  .search {
    padding: 0 20px;
    position: absolute;
    height: 80px;
    top: 80px;
    left: 0;
    right: 0;
    height: 60px;
    background-color: #55565A;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    .search-icon {
      position: absolute;
      left: 20px;
    }
    .spinner-icon {
      position: absolute;
      right: 20px;
    }
    >input {
      padding: 0 20px;
      height: 40px !important;
      outline: none;
      font-size: 16px;
      background-color: #55565A;
      height: 100%;
      flex: 1;
      color: #fff;
      border: none;
      border-bottom: 1px solid #fff;
      &:focus {
        border-bottom: 2px solid #fff;
      }
    }
  }
  ul {
    margin: 0;
    background-color: #55565A;
    margin-top: 140px;
    list-style: none;
    padding: 0;
    overflow-y: auto;
    li {
      height: 80px;
      padding: 0 20px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      cursor: pointer;
      color: #fff;
      :last-child {
        opacity: 0.5;
      }
      &.active {
        background-color: #3e3f42;
        color: #ffffff;
      }
      &:hover {
        background-color: #3e3f42bd;
        color: #ffffff;
      }
    }
  }
  .cart {
    padding: 0;
    z-index: 50;
    position: absolute;
    bottom: 30px;
    right: 30px;
    height: 60px;
    width: 60px;
    background-color: #fff;
    color: #55565A;
    border-radius: 30px;
    border: none;
    box-shadow: 70px 61px 33px -41px rgba(0,0,0,0.51);
    outline: none;
    &:hover {
      background-color: #ffffff80;
    }
  }
}


@media (max-width: 800px) {
  .list {
    position: absolute;
    z-index: 10;
    width: 100%;
    &.hidden {
      transform: translateX(-1000px);
      z-index: -1;
    }
  }
}
